* {
          margin: 0;
          padding: 0;
      }
      
      body {
          background: #5E1675;
          color: #000000; /*cor da fonte(letra)*/
      }
      
      div {
          background: #FFD23F;
          margin: 20px;
          padding: 50px;
          border: solid 3px #000000;
          border-radius: 5px; /* arredondar a borda */
      }
      
      .caixa-menor {
          background: #337357;
          width: 40%;
      }
      
      .conteiner {
          width: 1120px;
          min-height: 400px;
          padding: 0;
          overflow: auto;
          margin: 20px auto;
      }
      
      .esconder {
          display: none;
      }
      
      .bloco {
          box-sizing: border-box;
          width: 200px;
          height: 200px;
          margin: 0;
      }
      
      .b1 {
          width: 100%;
          background: purple;
          float: left;
      }
      
      .b2 {
          width: 33.33%;
          background: greenyellow;
          float: left;
      }
      
      .b3 {
          width: 33.33%;
          background: pink;
          float: left;
      }
      
      .b4 {
          width: 33.33%;
          background: blue;
          float: left;
      }