<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />

</head>
<body>

    <header>
        <div class="container">
            <p>to 5 layouts mundiais gg xd</p>
        </div>
    </header>

    <main>
        <div class="container">

            <aside>
                menu lateral
            </aside>

            <section>
                <h1>Estruturando um Layout com HTML e CSS</h1>
                
                <a href="#meus-projetos">ir para projetos</a>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam corporis exercitationem optio dignissimos at iusto esse.
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, harum esse modi quod at doloribus inventore. Iure ab molestias exercitationem eum ipsa! Iusto ducimus dolore, eius consectetur nostrum exercitationem repudiandae?
                    Placeat, nisi! Voluptatibus dolore earum, voluptatum quo cupiditate similique cum tempore fugit officiis aspernatur deleniti ea, minus recusandae obcaecati ut. Omnis vitae, quo iure mollitia dignissimos praesentium saepe enim soluta.
                    Distinctio deleniti modi inventore dolore officiis eos consequatur omnis similique, quaerat, suscipit, eaque dolor nobis vitae repudiandae optio blanditiis quasi nemo voluptas explicabo pariatur sapiente unde laboriosam. Dolor, unde incidunt.
                    Consequatur illum doloribus, nihil architecto quis ratione eum? Magnam aut quisquam quam repellat voluptatum veritatis ut corrupti dolores aperiam, nisi, fuga odio quo enim voluptas, fugiat eaque. Veniam, minima dolorum.
                    Odio quisquam earum sint ut delectus cumque id veritatis maxime cupiditate, ex iusto illo et inventore voluptate. Illum fuga tenetur perferendis quibusdam ex ullam magnam possimus quasi odit? Quod, ducimus!
                    Sit explicabo laborum non inventore, reprehenderit quos qui eligendi quis tempora facilis itaque deserunt modi adipisci unde, cupiditate incidunt ut accusantium rem quisquam eos ipsam praesentium sequi et? Tenetur, consequatur.
                    Adipisci beatae, sed reiciendis quis neque officiis architecto fugiat fuga laborum vitae delectus nesciunt provident officia! Repellat saepe consectetur ipsa soluta voluptas, eius veritatis doloribus tenetur, natus officiis alias eaque.
                    Fuga deserunt quam laboriosam doloremque dolorum recusandae possimus exercitationem accusamus odio vero voluptatum culpa, voluptas harum sapiente molestias consequuntur. Quia modi rerum, odit iste enim natus repellendus eius amet quidem.
                    Saepe, nostrum! Distinctio blanditiis a consectetur! Deserunt nesciunt commodi omnis voluptate sunt asperiores optio iste ad porro totam laudantium, tempore numquam facere corporis provident. Ad dolore consequatur totam velit beatae.
                    At eum ex itaque nisi. Fugit consequuntur officiis adipisci dicta fugiat a quisquam. Expedita corrupti cupiditate voluptatum quae vero praesentium laboriosam voluptates, dolorem nemo quibusdam amet a vel illum magnam.
                    Eius, maiores. Amet nam vero dolores voluptatem officiis rerum assumenda, quibusdam labore ipsum provident praesentium, minus nulla consectetur accusamus impedit magnam similique eius autem iusto. Sequi fuga odit iste facilis?
                    Iure, magni vero enim, ut reprehenderit necessitatibus pariatur voluptatem maiores sequi consequuntur ipsam expedita deleniti repudiandae numquam error tempore qui. Cupiditate unde omnis reiciendis voluptatibus minus animi dicta quibusdam neque!
                    Commodi ipsa dolorem repellat dolores repellendus temporibus perspiciatis eos nihil voluptatibus consequatur inventore deserunt atque velit odio laboriosam laudantium optio autem cum neque magni, doloremque architecto? Cum a voluptatum quas?
                    Voluptatem itaque labore quibusdam rerum eveniet! Atque modi aut molestiae officia ipsa. Culpa possimus eius sint tenetur, unde officia deleniti necessitatibus voluptates. Et animi odit perferendis cupiditate commodi esse inventore.
                    Voluptatem, nihil ducimus. Corrupti laborum illo, animi dolor nihil error hic magnam reiciendis ipsa ullam dicta doloribus sunt in modi minima sed. Possimus quam, impedit illum adipisci enim minus fugit.
                    Totam illo asperiores quisquam consectetur alias soluta? Enim tempore molestiae quo accusamus earum, fugiat consequuntur repellendus facere ipsa in libero dolorum ea labore tenetur quis commodi, laboriosam voluptates. Adipisci, fuga.
                    Soluta eum sit accusantium cum repudiandae sunt fugiat. Repellendus optio possimus vitae. Nulla temporibus odio fugiat quasi veritatis nisi tempora ipsam cupiditate, molestiae omnis explicabo distinctio quas, deserunt illo? Nesciunt.
                    Mollitia animi nesciunt iure non nulla at nemo corrupti eius autem voluptate, exercitationem saepe, et sunt quo ipsa praesentium ab neque numquam maiores. Totam eveniet debitis omnis sit et consequatur.
                    Magni tempora aliquid nobis. Quisquam harum, cupiditate aliquid dolorum, architecto ex eum nobis dolorem exercitationem et mollitia totam sequi! Modi, rerum. Voluptatum tenetur quasi cum consequuntur ipsa aliquam sit facilis?
                    Eveniet culpa libero consequatur ratione omnis officiis doloremque illo exercitationem earum recusandae id error facere placeat asperiores quasi esse quaerat assumenda possimus iusto ipsa, sunt et voluptas nihil quod? Nobis?
                    Animi minus aliquid odit eveniet impedit deleniti modi! Autem harum non officia rerum corporis quisquam vero omnis facere voluptates ratione, perspiciatis vel, unde quae, distinctio deleniti assumenda officiis culpa aut!
                    Quia aspernatur sapiente unde, numquam officia eveniet optio corporis alias nostrum ducimus cumque veritatis vitae eum sunt impedit error magni inventore? Enim velit nobis perspiciatis distinctio saepe, vel itaque accusantium.
                    Modi delectus optio at dolore laudantium est totam dolorem nobis in animi ab laboriosam, repellat commodi adipisci aliquid autem nostrum rerum, maxime quod distinctio reprehenderit ratione. Illum vitae quibusdam ratione.
                    Cumque voluptatibus explicabo ad quis. Laudantium, doloremque dicta laborum voluptates suscipit facilis quidem tempora facere maiores voluptate aspernatur nesciunt maxime inventore. Quaerat fugit modi doloremque consequuntur quasi ratione maxime sapiente.
                    Vel officiis possimus provident, a eaque ipsum recusandae velit libero. Ut aut minus recusandae ex excepturi est eveniet ullam sequi voluptates blanditiis rerum repellat, eos, error, cum fugiat quos molestias.
                    Animi ipsa laborum odit, facere, necessitatibus blanditiis sunt culpa nisi dolore deleniti eos nostrum ex labore nobis illo maxime dicta aliquid voluptatibus quas at optio doloremque incidunt aut. Dolores, tempora?
                    Eos, aperiam? Hic fuga dolorem doloribus, iusto, amet autem tempore nemo consectetur dolore nulla a aperiam fugit non quam accusantium nihil pariatur alias esse quod dolorum ipsum atque. Explicabo, voluptas!
                    Id praesentium consectetur suscipit nisi veniam laboriosam omnis asperiores optio illum, sunt officia excepturi animi error vel laborum aspernatur saepe dolorem reiciendis? Delectus porro quis voluptatum magni velit, doloribus quos?
                    Commodi vero minima quae assumenda ab error hic reprehenderit accusamus excepturi, sapiente, velit rerum aperiam illo doloribus. Iste aspernatur at explicabo suscipit similique atque qui sit, enim facere laborum recusandae.
                    Repellat id iusto atque dolores minus rerum magni nihil sed, accusamus sapiente praesentium a, incidunt voluptatem unde earum placeat, impedit eligendi quo dicta nam architecto. Illo aut sit quo officia?
                    Beatae aliquid laudantium molestiae maxime. Vel laudantium deserunt commodi deleniti mollitia nihil quia recusandae. Ab minus fugit aperiam temporibus, sed odit, consectetur sapiente tempora voluptates suscipit repudiandae praesentium ratione eveniet.
                    Blanditiis ab, minima illo dolorem quod pariatur, earum veritatis quia consectetur quisquam commodi, provident sequi aperiam reiciendis dolores eaque! Harum totam, et libero omnis corrupti id fugiat doloremque optio fuga.
                    Corrupti et assumenda quos. Quis, perspiciatis autem voluptatibus quod culpa, dolore magnam recusandae cumque soluta, sapiente sed quos. Culpa dolor reprehenderit eum earum optio sapiente iusto autem nemo blanditiis ad.
                    Ex, voluptates molestiae reiciendis laboriosam laborum delectus saepe, dolores sint voluptatibus, ullam ipsum aperiam nostrum. Fugit sed molestias debitis eaque illum facilis repellat, illo molestiae, ipsam quia maiores sequi dolorum?
                    Pariatur quibusdam fugiat necessitatibus, animi est delectus temporibus nemo perspiciatis id consequuntur assumenda, provident molestias, molestiae totam doloribus iste! Totam eius ab ducimus cumque id sequi tenetur rerum quod molestias?
                    Incidunt aliquam in aspernatur sint? Aliquid, optio eligendi assumenda qui omnis suscipit officia nulla sit, explicabo perspiciatis amet dicta cum facilis vitae repudiandae voluptatem in. Repellat quaerat soluta harum in.
                    Esse tenetur voluptas dicta quod nulla quia. Mollitia deleniti amet quo, delectus fugiat cupiditate corrupti suscipit officiis distinctio quod, vel iste ad odio id, repudiandae dolores consectetur reiciendis sunt in.
                    Veniam mollitia distinctio nihil eaque, iusto adipisci illo quod doloribus, nisi atque maiores accusamus eveniet facere, commodi non rem? Consequuntur accusantium eos excepturi, laboriosam fuga obcaecati ipsam ipsa doloribus vitae?
                    Placeat in vitae necessitatibus nihil odit asperiores at quis. Magni at iste, optio quasi quaerat natus eligendi, ipsa impedit explicabo minus nihil accusantium ipsum consectetur aliquid ratione provident corporis beatae?
                    Aperiam suscipit ipsa eos doloribus. Officiis sunt dolorum illum illo consectetur animi cum molestias odit aliquam, assumenda atque non. Quaerat, maiores modi dolores inventore suscipit dolorum alias similique fugit autem?
                    Quia quos tempora harum. Itaque ex possimus assumenda cupiditate? Recusandae hic fuga ex minima veritatis ipsa totam officiis id eveniet! Dolorum provident porro consectetur, officiis quaerat natus et deserunt voluptate.
                    Totam neque odit provident quo delectus! Vitae quos atque tenetur iusto consequatur libero cum quis vel quisquam, suscipit ex, molestiae hic obcaecati nam, laudantium tempora praesentium ut totam dolorum placeat.
                    Soluta, obcaecati aut! Eius alias magnam minus? Tempore quibusdam quis omnis dolorum possimus excepturi molestiae ducimus, aliquam vero id adipisci harum. Quasi aliquam dolor odit voluptas tempora iure quod repudiandae.
                    Alias esse reiciendis ea dolor excepturi nulla error. Quo suscipit esse excepturi? Id dolor quasi beatae laborum ducimus perspiciatis hic corporis tempore. Ratione sit odit suscipit eligendi praesentium facere quidem!
                    Eaque possimus, saepe amet facilis culpa laboriosam fugiat sunt accusantium quibusdam! Iusto aliquid, consequuntur laudantium est quis tenetur aperiam. Dolore quae labore rerum modi impedit quasi exercitationem harum quisquam saepe.
                    Quos et eos quod ut accusamus incidunt, est libero dicta exercitationem similique dolor beatae id obcaecati. Cupiditate impedit officiis consequuntur cum, quos hic quisquam eveniet enim inventore. Odio, iste recusandae?
                    Eos minima iusto ex odit maxime voluptatem aut deleniti consequatur incidunt beatae reprehenderit deserunt praesentium quas labore suscipit aliquam repudiandae, laboriosam veniam, nihil dicta optio. Hic voluptatem dolorum saepe voluptatibus?
                    Exercitationem, consequuntur dolorum aliquid eius cum officiis amet esse. Unde commodi odit libero ipsum voluptates obcaecati, minus eius voluptatem iure et consequuntur mollitia accusamus. Animi esse beatae harum consequuntur expedita.
                    Fuga sit velit qui pariatur id repellat molestiae esse earum labore in. Id, porro distinctio eos cupiditate inventore neque et at sed odit est repellat velit nihil laborum mollitia quia?
                    Voluptatum, eos voluptatem! Molestiae nihil tempora explicabo illum, cum sequi minima animi nostrum a! Praesentium obcaecati eligendi ipsa sit excepturi, voluptatibus temporibus aut deserunt aliquid necessitatibus impedit reprehenderit illum eius?
                    Soluta mollitia repudiandae, sit eos aliquid odio! Consequuntur, ratione! Rerum, dolore unde? Iure vero dignissimos corrupti, vitae repudiandae asperiores, possimus maiores est cupiditate quibusdam suscipit aspernatur soluta, magni provident officiis.
                    Iure quos assumenda dicta excepturi fuga vel odit doloribus ea, ab molestiae, maxime enim ipsum? Ab, numquam, iusto eius libero quod eaque alias rerum debitis tempore praesentium aut autem consectetur.
                    Officiis, eligendi saepe voluptate voluptas, sapiente dolore dolorem quidem illo aspernatur repellat omnis modi aliquam, doloribus et ipsum nesciunt? Ullam officia quia maxime, corrupti temporibus obcaecati ipsam quae? Voluptas, fugiat!
                    Accusantium dolorum nihil maxime recusandae aut obcaecati earum, officia voluptates! Repudiandae delectus reiciendis, iste, vero debitis, iure culpa maxime officiis dolorem optio minus voluptatem adipisci dicta assumenda obcaecati nemo esse.
                    Nam aliquid nostrum tempora quo, illo qui perferendis temporibus quis, minima eligendi nesciunt maxime, accusamus officia delectus praesentium ad repellendus quod cum. Quis explicabo nobis rerum veniam, molestiae facilis saepe?
                    Doloribus, voluptatem. Nisi quidem accusamus laudantium quas ut, vel cumque voluptas voluptatum rerum provident laborum modi sint? Culpa fugiat, cumque quibusdam provident nam excepturi. Ipsa amet dolorum magni optio. Sit?
                    Quas explicabo, esse nesciunt impedit distinctio optio. Qui in, ad aut maxime consequuntur quidem illo excepturi quaerat obcaecati perspiciatis reiciendis eos tenetur, voluptatem facere placeat voluptates nam voluptas nostrum et.
                    Non quaerat deleniti animi aspernatur. Aut maiores, fugit ipsa sit quasi quo aperiam modi qui reiciendis, inventore, corrupti facere officia voluptatum similique unde veniam nulla? Ipsam voluptate beatae quos ut.
                    Labore sed ducimus nobis recusandae sequi. Recusandae veniam impedit iste quasi sit similique! Obcaecati rerum sunt asperiores eaque quae ea, et laborum repellat accusantium eos! Amet molestias impedit numquam cumque.
                    Labore in voluptatibus, perferendis veritatis itaque at cum cumque neque dicta. Beatae vitae dolorem harum reprehenderit blanditiis quidem qui cumque similique quisquam consequatur. Minima consequuntur nostrum magnam, maiores dolorem tenetur.
                    Est similique vero eum dolor hic facilis dolore neque accusamus veniam impedit molestias nisi cum possimus quae rem nemo fugiat illo consectetur laudantium quibusdam esse asperiores, ut pariatur. Optio, atque?
                    Modi fugit hic ex quia eaque minus dolor reprehenderit, corporis aliquam consectetur praesentium iure esse beatae ratione distinctio deserunt cupiditate? Aliquam asperiores voluptate at dignissimos esse sapiente eveniet blanditiis sunt?
                    Velit, cupiditate porro doloribus iusto ipsa vel maiores dicta eveniet eum esse modi! Laudantium corporis, quae rem fuga tenetur eveniet expedita! Animi, sint totam! Exercitationem quisquam esse reprehenderit saepe sint.
                    Est minus hic autem quo quae possimus cupiditate eligendi ratione laborum voluptatum animi asperiores, iusto ad suscipit ea quidem veritatis error exercitationem incidunt magnam aut optio vel. Eius, exercitationem possimus.
                    Quisquam blanditiis ullam ipsam molestiae! Maiores voluptates labore repellat recusandae corporis aut alias autem sapiente fuga vitae ratione amet obcaecati unde, quam vero. Placeat quod distinctio in, iste deleniti obcaecati.
                    Minus nulla debitis eligendi in? Quam, quaerat fuga optio beatae dolore sapiente labore vero, accusamus fugiat nostrum incidunt veritatis deleniti eius a totam? Eligendi, nihil vero rerum ad cupiditate fugit.
                    Amet beatae reprehenderit inventore? Earum quam dolores sint reiciendis modi quidem quis laudantium tempore perferendis impedit, nobis maiores, enim neque commodi alias architecto corporis nam magnam omnis. A, fuga ipsa?
                    Harum facilis aut, asperiores corporis labore repudiandae esse non atque iure velit facere dolorum sit sunt, quos cumque quod quisquam nisi consectetur inventore iusto alias aspernatur tempore perferendis veritatis. Eveniet.
                    Debitis dolor repellat neque itaque? Molestias veniam at accusamus deserunt eos reprehenderit commodi ad quas rem fuga minima dicta vero quos, reiciendis placeat, magnam nostrum qui ipsum saepe asperiores cum.
                    Optio dolor sapiente velit quasi adipisci asperiores magni blanditiis, vero omnis hic, consectetur ex, delectus explicabo earum accusamus consequuntur. Libero, non quo! Facere dignissimos aspernatur quia recusandae. Sit, nisi doloremque.
                    Tenetur repudiandae harum suscipit, praesentium provident sit pariatur nobis aperiam iste voluptatibus excepturi repellendus eaque repellat! Voluptas quia officiis accusantium at facilis. Fuga laboriosam mollitia, nihil animi possimus molestias omnis.
                    Iure, alias itaque voluptates a ipsam quaerat quibusdam nesciunt voluptas repellat delectus dignissimos voluptatum sequi vitae quisquam eligendi numquam ducimus dicta ea ratione cum? Libero consequatur enim delectus eligendi nobis.
                    Quod asperiores velit magni quo vitae minima repudiandae quia et veniam nulla. Dignissimos possimus et deleniti, iusto at nobis unde repellat ullam ipsa? Doloribus ea error labore deleniti minus esse?
                    Laudantium repudiandae vel quibusdam, obcaecati veritatis nesciunt optio modi necessitatibus labore animi tempore provident saepe itaque cum debitis iure minima odio commodi. Obcaecati culpa in, aliquid reprehenderit sit laborum placeat!
                    Dolorem fuga eveniet quibusdam debitis quam. Dolore ab eum similique error reprehenderit at totam animi corporis voluptates corrupti? Iure eius non magnam minima, facilis praesentium reiciendis dolore iusto soluta totam!
                    Nobis commodi aspernatur sit alias labore voluptas, ut atque unde, doloremque deleniti recusandae aliquam. Praesentium beatae accusamus mollitia recusandae, exercitationem neque repudiandae cupiditate voluptatibus reprehenderit deleniti suscipit. In, a odio?
                    Minus corporis vero eum cumque optio laboriosam dignissimos animi impedit tempore modi ipsa error eaque, obcaecati consectetur totam dolore voluptatum ducimus eligendi voluptates dolorem porro architecto quia! Repudiandae, aliquid autem?
                    Assumenda a excepturi necessitatibus aliquid iusto voluptatibus minima nisi nesciunt qui debitis reiciendis quia doloribus quo, dolores esse sunt quidem maiores itaque rem! Nobis ipsa sapiente aliquam ex. Accusantium, dolores.
                    Vitae vero, ducimus veritatis voluptatem, sunt nostrum ea qui quam odit necessitatibus tempore mollitia pariatur suscipit dignissimos atque dolores natus fuga inventore accusantium doloremque assumenda autem et. Explicabo, tempora neque.
                    Praesentium id distinctio aspernatur temporibus nemo delectus illum quidem dolorum. Distinctio rem aliquam deleniti itaque ipsa sit in quo expedita quae nihil sed, ut amet, obcaecati architecto neque molestias modi.
                    Fugiat veniam vero excepturi omnis nulla magni delectus nemo corporis! Dignissimos incidunt vel magnam explicabo dolor. Asperiores sequi, eos voluptates omnis sed voluptate nam, nostrum repellendus quam repudiandae velit est!
                    Nisi libero fuga assumenda incidunt ratione unde, aliquid esse pariatur obcaecati veritatis, temporibus quas inventore cum nesciunt? Voluptatibus perspiciatis eaque facere ducimus fuga id excepturi nisi vero expedita odio. Assumenda?
                    Facere, obcaecati voluptatem id explicabo est autem recusandae quibusdam sit neque tenetur fuga, nemo sapiente! Incidunt laudantium quo rem, cum provident corporis quis neque magni, recusandae a dolorem nesciunt ut?
                    Voluptatem, temporibus molestiae ipsam perspiciatis laborum, aut rem esse amet dolores enim distinctio fugit facilis quis quod consectetur ullam animi eum itaque, exercitationem facere! Dignissimos vitae possimus ab asperiores ex.
                    Nulla error dolor placeat explicabo fugiat ab odio aut ipsum minima at obcaecati voluptas, atque magni facere, consectetur repellat, dicta eligendi alias voluptate! Mollitia possimus rem optio dolorum esse aliquid.
                    Optio exercitationem debitis officiis quis! Veritatis delectus neque quo. Vitae mollitia, nesciunt repudiandae consectetur ipsa labore soluta quidem modi facere blanditiis error ipsam a necessitatibus deserunt officiis. Commodi, laudantium temporibus?
                    Repellat recusandae unde, earum aperiam laboriosam molestiae cumque exercitationem! Iusto dolorem nulla nobis reiciendis! Eligendi sequi reprehenderit asperiores blanditiis iure error aut eos qui nisi? Ratione est dolores debitis corrupti.
                    Nulla maxime repellat hic optio voluptatum, sit sequi, neque temporibus consectetur, itaque tempora error possimus sint consequuntur? Deleniti, eius esse aperiam quod nemo, nam totam dignissimos veniam, minus doloremque reprehenderit.
                    Esse, consequatur consequuntur sunt est voluptates maxime laborum obcaecati praesentium eum voluptas minus magni, nobis quidem error commodi explicabo qui harum ipsum maiores architecto reiciendis officiis excepturi saepe deserunt. Distinctio.
                    Reiciendis corrupti voluptatibus inventore labore ea id earum voluptas sequi odit nesciunt modi obcaecati temporibus, optio, quod cum, quis quasi saepe rem aut accusamus! Deleniti eos minus veniam ea cupiditate.
                    Nam suscipit amet delectus consequatur ducimus quidem recusandae a ex eaque distinctio. Quia voluptates unde animi? Labore tenetur quod asperiores optio veniam impedit saepe possimus vitae. Cum consequuntur libero deleniti.
                    Doloribus ipsa distinctio cum voluptates aperiam dolorem culpa fuga maxime? Animi vel beatae consectetur facere, voluptas omnis mollitia, officia accusantium id odit aliquid ad vitae molestias veritatis, nam facilis voluptatibus.
                    Voluptate quisquam distinctio reiciendis, eum quas molestiae dolores, illo recusandae similique repudiandae modi laboriosam, rerum voluptatum eos aspernatur illum. Deleniti laboriosam cumque impedit perferendis minus nemo dolor quis animi corporis.
                    Soluta maiores, quidem eius, aliquam possimus blanditiis nesciunt cupiditate inventore, aut excepturi architecto culpa error. Ab, earum cupiditate, maxime debitis praesentium unde culpa maiores doloribus vero eveniet enim quibusdam quaerat.
                    Eos reiciendis explicabo cupiditate atque sequi, aliquam similique ducimus cum voluptatum, amet fugiat, vitae saepe aspernatur. Ex optio, error cum molestiae corrupti alias qui placeat officia architecto ab sed quos.
                    Iure eaque sint odio aut aspernatur fugit magnam voluptate. Saepe, maxime vel sequi ad temporibus nisi reiciendis totam? Harum nihil voluptatem esse facere ex impedit cumque illo officia quas dignissimos?
                    Quidem quia adipisci, ratione totam quam ex, explicabo recusandae assumenda soluta laboriosam atque culpa aspernatur pariatur officia cum distinctio eligendi nobis veniam! Rem, natus modi qui quia optio minus. Quisquam.
                    Et fugiat maxime ipsum perferendis sint, eum aut. Odio voluptatum repellendus, modi enim alias nulla! Consequuntur, quo. Repudiandae, quibusdam. Quibusdam explicabo maiores dignissimos officia voluptate eius necessitatibus, quo ad placeat.
                    Cum velit itaque molestiae eius? Doloribus commodi maiores dignissimos illo nobis odit mollitia nihil explicabo culpa, sit officiis eveniet est nam! Aperiam eum unde deleniti nulla harum aut quasi sapiente?
                    Cupiditate nesciunt eligendi placeat nihil repellat sit similique beatae magni id voluptatibus amet voluptates blanditiis sed maiores totam veritatis, officia eos quam vitae aperiam? Rerum quibusdam ducimus cumque exercitationem ullam?
                </p>

                <h2 id="meus-projetos">Meus projetos </h2>
                
                <div class="projects">

                    <div class="project">
                        <img src="https://ifpr.edu.br/foz-do-iguacu/wp-content/uploads/sites/12/2023/08/Drone-Fernando-red-1024x576.png" alt="">
                        projeto 1
                    </div>                    
                    
                    <div class="project">
                        projeto 2
                    </div>                    
                    
                    <div class="project">
                        projeto 3
                    </div>

                </div>


            </section>

        </div>
    </main>
    
    <footer>
        <div class="container">
        </div>
    </footer>
    
</body>
</html>